img {
    width: 200px;
}

#fantasma {
    width: 100px;
}

.itens-extremidades {
    background-color: aqua;
    display: flex;
    justify-content: space-between; /* precisa de "display: flex" ativado */
    flex-direction: row; /* já vem ativado por padrão */
    margin-bottom: 50px;
}

.itens-espacados {
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    margin-bottom: 50px;
}

.itens-centro {
    display: flex;
    justify-content: center;
    background-color: aqua;
    margin-bottom: 50px;
}

.itens-direita {
    display: flex;
    justify-content: flex-end;
    background-color: aqua;
    margin-bottom: 50px;
}

.amarelo {
    background-color: yellow;
}

.grupo-espacado {
    width: 960px;
    display: flex;
    justify-content: space-between;
}

.itens-vertical {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: aqua;
    flex-direction: column;
    height: 960px;
}

.grupo-menor {
    width: 340px; /* ou "fit content" para que o conteúdo caiba de forma automática e proporcional. */
}

.grupo-maior {
    width: 550px;
}

.paidetodos {
    display: flex;
    height: 960px;
    justify-content: space-between;
    flex-direction: column;
    background-color: aqua;
}

.roxo {
    background-color: #e8b6ff;
    display: flex;
    justify-content: space-between;
}

.grupo-tres-div-amarela {
    background-color: yellow;
}